**/obj/**/*
**/bin/**/*
**/*lock.json
**/.idea.CoreDocker
**/.vs
*.swp
*.*~
bin/
obj/
project.lock.json
.DS_Store
/TestResult.xml
/CoreDocker.ncrunchsolution.user
/_NCrunch_CoreDocker/**/*
*.user
**/*.ncrunchproject
**/*nCrunchTemp*
/TestResults/*.trx
build/**/*
